{% extends 'unit/base.html' %}
{% block title %} HOME {% endblock %}
{% block main %}
    <section>
        <div class="text-center m-2 p-2">
            <h1>BAF {{request.user}}</h1>
            <h2>Signal Centre</h2>
        </div>
        <div class="container w-50 text-center rounded d-flex justify-content-center align-items-center shadow" style="height:200px;">
            <a href="{% url 'in-los' %}" class="btn btn-success btn-lg m-2" >IN LOS</a>
            <a href="{% url 'out-los' %}" class="btn btn-success btn-lg m-2" >OUT LOS</a>
            <a href="{% url 'in-crpt' %}" class="btn btn-success btn-lg m-2" >IN CRPT</a>
            <a href="{% url 'out-crpt' %}" class="btn btn-success btn-lg m-2" >OUT CRPT</a>
        </div>
        <div class="container w-50 text-center rounded d-flex justify-content-center align-items-center shadow mt-2" style="height:200px;">
            <form action="" method="POST">
                {% csrf_token %}
                <input type="month" name="month" id="">
                <select name="type" id="">
                    <option value="IN LOS">IN LOS</option>
                    <option value="OUT LOS">OUT LOS</option>
                    <option value="IN CRPT">IN CRPT</option>
                    <option value="OUT CRPT">OUT CRPT</option>
                </select>
                <input type="submit" value="Download" name="download_report" class="btn btn-success btn-sm">
              </form>
        </div>
    </section>
{% endblock %}
{% block footer %}
<div class="d-flex justify-content-center pt-3 text-body-secondary text-light mt-5 pt-5">
    <h7 style="color: rgb(225, 225, 225);">Developed by LAC Rahdin Hussain</h7>
</div>
{% endblock %}